@model ZborApp.Models.PorukeViewModels.PorukeViewModel
@using ZborData.Model;
@{
    ViewData["Title"] = "Poruke";
}
<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="~/css/chat.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <link href="~/css/jquery.magicsearch.min.css" type="text/css" rel="stylesheet" />

</head>
<body>


    <div class="container">
        <h3 class=" text-center">Messaging</h3>
        <div>
            <button class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">Nova poruka</button>
        </div>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input type="text" class="search-bar" placeholder="Search">
                                <span class="input-group-addon">
                                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="inbox_chat" id="lista">
                        @foreach (Razgovor razg in Model.Razgovori)
                        {
                            razg.Poruka = razg.Poruka.OrderBy(p => p.DatumIvrijeme).ToList();

                            string name = "", slika = "";
                            foreach (KorisnikUrazgovoru k in razg.KorisnikUrazgovoru)
                            {
                                if (k.IdKorisnik == Model.IdKorisnik) continue;
                                name += k.IdKorisnikNavigation.Ime + " " + k.IdKorisnikNavigation.Prezime + ",";
                                slika = k.IdKorisnikNavigation.Slika;
                            }
                            name.Remove(name.Length - 1);
                            <div class="chat_list" id="Razg-@razg.Id" onclick="promjenaRazgovora('@razg.Id')">
                                <div class="chat_people">

                                    <div class="chat_img"><img src="@slika" alt="profpic"> </div>
                                    <div class="chat_ib">
                                        <h5><b id="Naslov-@razg.Id">
                                        @if(razg.GetNaslov() == null)
                                        {
                                            <text>@razg.GetPopisKorisnika(Model.IdKorisnik)</text>
                                        }
                                        else
                                        {
                                            <text>@razg.GetNaslov()</text>
                                        }</b>
                                        <span class="chat_date" id="DatZadnje-@razg.Id">@razg.DatumZadnjePoruke.ToString("dd.MM.yyyy HH:mm")</span></h5>
                                        <p>
                                            <span id="Sazetak-@razg.Id">@if (razg.Poruka.First().IdKorisnik == Model.IdKorisnik)
                                            {
                                                <span>Ti: </span>
                                            }
                                            @razg.Poruka.Last().Poruka1
                                            </span>
                                            <span class="novo" id="Novo-@razg.Id" @if (razg.KorisnikUrazgovoru.Where(k => k.IdKorisnik == Model.IdKorisnik).Single().Procitano == true) { <text>style = "display:none"</text>}>Novo!</span>

     </p>

 </div>

</div>

</div>
                        }


                    </div>

                </div>

                <div class="mesgs" id="poruke">
                    @foreach (Razgovor razg in Model.Razgovori)
                    {

                    <div id="Poruke-@razg.Id" style="display:none" onclick="procitano('@razg.Id')">
                        <div class="headind_name" >
                                <p><span class="editable" data-id="@razg.Id">@if (razg.GetNaslov() == null)
                                {<text>Razgovor </text>}
                                else {@razg.GetNaslov() }</span><span>(@razg.GetPopisKorisnika(Model.IdKorisnik))</span></p>                
                        </div>
                        <div class="msg_history" id="Chat-@razg.Id">
                            @foreach (Poruka poruka in razg.Poruka)
                            {
                                @if (poruka.IdKorisnik == Model.IdKorisnik)
                                {
                                    <div class="outgoing_msg">
                                        <div class="sent_msg">
                                            <p>
                                                @poruka.Poruka1
                                            </p>
                                            <span class="time_date"> @poruka.DatumIvrijeme.ToString("HH:mm")    |    @poruka.DatumIvrijeme.ToString("dd.MM.yyyy")</span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="incoming_msg">
                                        <div class="incoming_msg_img"> <img src="@poruka.IdKorisnikNavigation.Slika" alt="sunil"> </div>
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <span class="time_date">@poruka.IdKorisnikNavigation.Ime</span>
                                                <p>
                                                    @poruka.Poruka1
                                                </p>
                                                <span class="time_date"> @poruka.DatumIvrijeme.ToString("HH:mm")    |    @poruka.DatumIvrijeme.ToString("dd.MM.yyyy")</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                        <div class="type_msg">
                            <div class="input_msg_write">
                                <input id="Poruka-@razg.Id" type="text" class="write_msg" placeholder="Type a message" />
                                <button class="msg_send_btn" type="button" onclick="sendMessage('@razg.Id', '@Model.IdKorisnik')"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    }
                </div>

            </div>
        </div>
    </div>




    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nova poruka</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <p id="id" hidden></p>
                        <div id="inputDiv">
                            <input class="form-control" style="height:50px; width:200px" id="basic" placeholder="Pretraži.." />
                        </div>
                        <div class="form-group">

                            <label for="message-text" class="col-form-label">Poruka:</label>
                            <textarea class="form-control" id="novaPoruka"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                    <button type="button" class="btn btn-primary"  onclick="newConversation('@Model.IdKorisnik')">Pošalji</button>
                </div>
            </div>
        </div>
    </div>


</body>

@section Scripts{
    <script>
        $(document).ready(function() {

            $('#Poruke-@Model.Razgovori.First().Id').show();
            $('#Razg-@Model.Razgovori.First().Id').addClass("active_chat");
            $('#Chat-@Model.Razgovori.First().Id').scrollTop($('#Chat-@Model.Razgovori.First().Id')[0].scrollHeight - $('#Chat-@Model.Razgovori.First().Id')[0].clientHeight);


        });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/js/chatcontrol.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/jquery.magicsearch.js"></script>

    <script>
        var dataSource = [
                    @foreach(var osoba in Model.Korisnici)
                    {
                        <text>{ id: '@osoba.Id', firstName: '@Html.Raw(osoba.Ime)', lastName: '@Html.Raw(osoba.Prezime)' },</text>
                    }
        ];
        $('#basic').magicsearch({
                dataSource: dataSource,
                fields: ['firstName', 'lastName'],
                id: 'id',
                format: '%firstName% %lastName%',
                multiple: true,
                multiField: 'firstName',
                multiStyle: {
                    space: 5,
                    width: 80
                }
            });


    </script>

    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the moda

            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

        })

       
    </script>

    <script>
        function bindEdit() {
            $('.editable').bind('click', function () {
                $(this).attr('contentEditable', true);
            }).blur(
                function () {
                    console.log($(this).text());
                    let id = $(this).attr('data-id');
                    //Zove se ajax i mijenja se u sazetku.
                    data = { id: id + '', tekst : $(this).text() };

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        url: 'Poruke/PromjenaNaslova',
                        data: JSON.stringify(data),
                        xhrFields: {
                            withCredentials: true
                        }

                    });
                    $(this).attr('contentEditable', false);
        });
        };
        bindEdit();
    </script>
}




