@using ZborDataStandard.Account
@using Microsoft.AspNetCore.Identity
@using ZborDataStandard.ViewModels

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ZborDataStandard.Model.ZborDatabaseContext ctx

@{
    var zborId = ViewData["zborId"];
    var zborIme = ViewData["zborIme"];
    var idSlika = ViewData["idSlika"];
}


@if (zborId != null)
{
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link text-center" asp-controller="Zbor" asp-action="Profil" asp-route-id="@zborId">
            <img src="/Repozitorij/GetZbor/@idSlika" alt="profpic" class="img-profile rounded-circle" style="width:40px; height:40px; background-color:white"><br />

            <span>@zborIme</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
   
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Zbor" asp-action="Profil" asp-route-id="@zborId">
            <i class="fa fa-folder-o"></i>
            <span>Obavijesti</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Zbor" asp-action="Pitanja" asp-route-id="@zborId">
            <i class="fa fa-question-circle"></i>
            <span>Pitanja</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Zbor" asp-action="Kalendar" asp-route-id="@zborId">
            <i class="fa fa-calendar"></i>
            <span>Kalendar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Zbor" asp-action="Projekti" asp-route-id="@zborId">
            <i class="fa fa-tasks"></i>
            <span>Projekti</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Repozitorij" asp-action="Zbor" asp-route-id="@zborId">
            <i class="fa fa-file-o"></i>
            <span>Repozitorij</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Zbor" asp-action="JavniProfil" asp-route-id="@zborId">
            <i class="fa fa-magic"></i>
            <span>Javni profil</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Administracija
    </div>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Zbor" asp-action="Pretplate" asp-route-id="@zborId">
            <i class="fa fa-sticky-note"></i>
            <span>Pretplate</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Zbor" asp-action="Administracija" asp-route-id="@zborId">
            <i class="fa fa-cog"></i>
            <span>Upravljanje zborom</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link hoverable" data-toggle="modal" data-target="#napustanjeZbora" data-id="@zborId">
            <i class="fa fa-arrow-circle-o-down"></i>
            <span>Napusti zbor</span>
        </a>
    </li>




}
else if (SignInManager.IsSignedIn(User))
{
    <hr class="sidebar-divider my-0" />
    var kor = ctx.Korisnik.Where(k => k.Id == Guid.Parse(UserManager.GetUserId(User))).SingleOrDefault();

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link text-center" asp-controller="Zbor" asp-action="Index">
            <img src="/Repozitorij/Get/@kor.IdSlika" alt="profpic" class="img-profile rounded-circle" style="width:40px; height:40px;"><br />
            <span>@kor.ImeIPrezime()</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Poruke" asp-action="Index">
            <i class="fa fa-envelope-o"></i>
            <span>Poruke</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Korisnik" asp-action="Obavijesti">
            <i class="fa fa-bell"></i>
            <span>Obavijesti</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Repozitorij" asp-action="Korisnik" asp-route-id="@kor.Id">
            <i class="fa fa-file-o"></i>
            <span>Repozitorij</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Forum" asp-action="Index">
            <i class="fa fa-comments-o"></i>
            <span>Forum</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Korisnik" asp-action="JavniProfil" asp-route-id="@kor.Id">
            <i class="fa fa-magic"></i>
            <span>Javni profil</span>
        </a>
    </li>
}



