@model ZborDataStandard.ViewModels.ZborViewModels.AdministracijaViewModel;
@{
    ViewData["Title"] = "Administracija";
}


    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Administracija</h1>
        @if (Model.Vod)
        {<form style="padding-left:5px" asp-action="ObrisiZbor"><input asp-for="IdBrisanje" value="@Model.Zbor.Id" hidden style="display:none" /><button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Obriši zbor</button></form>}

    </div>


<div class="row">
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Članovi</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @if (ViewData["mess"] != null)
                    {<div class="alert-danger">@ViewData["mess"]</div>}
                <div class="card-title d-flex flex-row align-items-center justify-content-between">
                    <div class="col-md-2">
                        Soprani
                    </div>
                    <div class="col-md-2">
                        Alti
                    </div>
                    <div class="col-md-2">
                        Tenori
                    </div>
                    <div class="col-md-2">
                        Basi
                    </div>
                    <div class="col-md-2">
                        Nerazvrstani
                    </div>
                </div>
                <div class="card-text d-flex flex-row align-items-start justify-content-between">
                    <div class="col-md-2" style="padding-right:0px" id="1">
                        @if (Model.Soprani.Count > 0)
                        {
                            @foreach (var clan in Model.Soprani)
                            {
                                <div id="Clan-@clan.Id"  style="width:100%; padding-top:7px" class="d-flex flex-row align-items-center justify-content-between">
                                    <a href="#">@clan.IdKorisnikNavigation.Ime @clan.IdKorisnikNavigation.Prezime</a>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">@Html.Raw("Mogućnosti")</div>
                                            <button id="Promjena-@clan.Id" class="dropdown-item" data-toggle="modal" data-target="#promjenaGlasa" data-ime="@clan.IdKorisnikNavigation.ImeIPrezime()" data-id="@clan.Id" data-glas="1">Promjena glasa</button>
                                            <button class="dropdown-item" onclick="moderiraj('@clan.IdKorisnik', '@Model.Zbor.Id')">Postavi za moderatora</button>
                                            <form asp-action="PostaviVoditelja"><input asp-for="IdBrisanje" value="@clan.Id" hidden style="display:none" /><button class="dropdown-item" type="submit">Postavi voditelja</button></form>
                                            <form asp-action="ObrisiClana"><input asp-for="IdBrisanje" value="@clan.Id" hidden style="display:none" /><button class="dropdown-item" type="submit">Izbaci</button></form>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                    <div class="col-md-2" id="2">
                        @if (Model.Alti.Count > 0)
                        {
                            @foreach (var clan in Model.Alti)
                            {
                                <div id="Clan-@clan.Id" style="width:100%; padding-top:7px" class="d-flex flex-row align-items-center justify-content-between">
                                    <a href="#">@clan.IdKorisnikNavigation.Ime @clan.IdKorisnikNavigation.Prezime</a>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">@Html.Raw("Mogućnosti")</div>
                                            <button id="Promjena-@clan.Id" class="dropdown-item" data-toggle="modal" data-target="#promjenaGlasa" data-ime="@clan.IdKorisnikNavigation.ImeIPrezime()" data-id="@clan.Id" data-glas="2">Promjena glasa</button>
                                            <button class="dropdown-item" onclick="moderiraj('@clan.IdKorisnik', '@Model.Zbor.Id')">Postavi za moderatora</button>
                                            <form asp-action="PostaviVoditelja"><input asp-for="IdBrisanje" value="@clan.Id" hidden style="display:none" /><button class="dropdown-item" type="submit">Postavi voditelja</button></form>
                                            <form asp-action="ObrisiClana"><input asp-for="IdBrisanje" value="@clan.Id" hidden style="display:none" /><button class="dropdown-item" type="submit">Izbaci</button></form>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-2" id="3">
                        @if (Model.Tenori.Count > 0)
                        {
                            @foreach (var clan in Model.Tenori)
                            {
                                <div id="Clan-@clan.Id" style="width:100%; padding-top:7px" class="d-flex flex-row align-items-center justify-content-between">
                                    <a href="#">@clan.IdKorisnikNavigation.Ime @clan.IdKorisnikNavigation.Prezime</a>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">@Html.Raw("Mogućnosti")</div>
                                            <button id="Promjena-@clan.Id" class="dropdown-item" data-toggle="modal" data-target="#promjenaGlasa" data-ime="@clan.IdKorisnikNavigation.ImeIPrezime()" data-id="@clan.Id" data-glas="3">Promjena glasa</button>
                                            <button class="dropdown-item" onclick="moderiraj('@clan.IdKorisnik', '@Model.Zbor.Id')">Postavi za moderatora</button>
                                            <form asp-action="PostaviVoditelja"><input asp-for="IdBrisanje" value="@clan.Id" hidden style="display:none" /><button class="dropdown-item" type="submit">Postavi voditelja</button></form>
                                            <form asp-action="ObrisiClana"><input asp-for="IdBrisanje" value="@clan.Id" hidden style="display:none" /><button class="dropdown-item" type="submit">Izbaci</button></form>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                    <div class="col-md-2" id="4">
                        @if (Model.Basi.Count > 0)
                        {
                            @foreach (var clan in Model.Basi)
                            {
                                <div id="Clan-@clan.Id"  style="width:100%; padding-top:7px" class="d-flex flex-row align-items-center justify-content-between">
                                    <a href="#">@clan.IdKorisnikNavigation.Ime @clan.IdKorisnikNavigation.Prezime</a>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">@Html.Raw("Mogućnosti")</div>
                                            <button id="Promjena-@clan.Id" class="dropdown-item" data-toggle="modal" data-target="#promjenaGlasa" data-ime="@clan.IdKorisnikNavigation.ImeIPrezime()" data-id="@clan.Id" data-glas="4">Promjena glasa</button>
                                            <button class="dropdown-item" onclick="moderiraj('@clan.IdKorisnik', '@Model.Zbor.Id')">Postavi za moderatora</button>
                                            <form asp-action="PostaviVoditelja"><input asp-for="IdBrisanje" value="@clan.Id" hidden style="display:none" /><button class="dropdown-item" type="submit">Postavi voditelja</button></form>
                                            <form asp-action="ObrisiClana"><input asp-for="IdBrisanje" value="@clan.Id" hidden style="display:none" /><button class="dropdown-item" type="submit">Izbaci</button></form>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                    <div id="Nerazvrstani" class="col-md-2">
                        @if (Model.Nerazvrstani.Count > 0)
                        {
                            @foreach (var clan in Model.Nerazvrstani)
                            {
                                <div id="Clan-@clan.Id" style="width:100%; padding-top:7px" class="d-flex flex-row align-items-center justify-content-between">
                                    <a href="#">@clan.IdKorisnikNavigation.Ime @clan.IdKorisnikNavigation.Prezime</a>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">@Html.Raw("Mogućnosti")</div>
                                            <button id="Promjena-@clan.Id" class="dropdown-item" data-toggle="modal" data-target="#promjenaGlasa" data-ime="@clan.IdKorisnikNavigation.ImeIPrezime()" data-id="@clan.Id" data-glas="1">Promjena glasa</button>
                                            <button class="dropdown-item" onclick="moderiraj('@clan.IdKorisnik', '@Model.Zbor.Id')">Postavi za moderatora</button>
                                            <form asp-action="PostaviVoditelja"><input asp-for="IdBrisanje" value="@clan.Id" hidden style="display:none" /><button class="dropdown-item" type="submit">Postavi voditelja</button></form>
                                            <form asp-action="ObrisiClana"><input asp-for="IdBrisanje" value="@clan.Id" hidden style="display:none" /><button class="dropdown-item" type="submit">Izbaci</button></form>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                </div>
            </div>
            <div class="card-footer">
                Voditelj: <a href="#">@Model.Voditelj.ImeIPrezime()</a>

            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Uvoz članova</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @if(ViewData["mess"] != null) { <alert class="alert-danger">@ViewData["mess"]</alert>}
                <form asp-action="UcitajClanove" asp-route-id="@Model.Zbor.Id" method="post" enctype="multipart/form-data">
                    <label class="btn btn-outline-secondary hoverable" for="my-file-selector">
                        <input id="my-file-selector" type="file" name="file" style="display:none"
                               onchange="$('#upload-file-info').html(this.files[0].name)">
                        Odaberi
                    </label>
                    <span class='label label-info' id="upload-file-info">Učitajte datoteku</span>



                    <div class="row d-flex flex-row align-items-center justify-content-between">
                        &nbsp;
                        <button class="btn btn-outline-secondary" type="submit">Učitaj članove u xlsx formatu</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Pozivi za zbor</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="card-text">

                    <div id="listaPoziva">
                        @if (Model.Zbor.PozivZaZbor == null || Model.Zbor.PozivZaZbor.Count() == 0)
                        {<p id="nemaAktivnihPoziva">Nema aktivnih poziva.</p>}
                        else
                        {<p id="nemaAktivnihPoziva" style="display:none">Nema aktivnih poziva.</p>}

                        @foreach (var poziv in Model.Zbor.PozivZaZbor)
                        {
                            <div id="Poziv-@poziv.Id" style="width:100%; padding-bottom:7px" class="d-flex flex-row align-items-center justify-content-between">
                                <div> <a href="#" data-toggle="tooltip" data-placement="left" title="@poziv.Poruka">@poziv.IdKorisnikNavigation.Ime @poziv.IdKorisnikNavigation.Prezime</a> <text>@poziv.DatumPoziva.Date.ToLongDateString()</text></div>
                                <div>
                                    <span class="hoverable"><i onclick="odbaci('@poziv.Id')" class="fa fa-times"></i></span>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Prijave za zbor</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="card-text">
                    <div id="listaPrijava">
                        @if (Model.Zbor.PrijavaZaZbor == null || Model.Zbor.PrijavaZaZbor.Count() == 0)
                        {<p id="nemaPrijava">Nema prijava za zbor.</p>}
                        else
                        {<p id="nemaPrijava" style="display:none">Nema prijava za zbor.</p>}

                        @foreach (var prijava in Model.Zbor.PrijavaZaZbor)
                        {
                            <div id="Prijava-@prijava.Id" style="width:100%; padding-bottom:7px" class="d-flex flex-row align-items-center justify-content-between">
                                <div> <a href="#" data-toggle="tooltip" data-placement="left" title="@prijava.Poruka">@prijava.IdKorisnikNavigation.ImeIPrezime()</a> <text>@prijava.DatumPrijave.Date.ToLongDateString()</text></div>
                                <div>
                                    <span class="hoverable"><i onclick="prihvati('@prijava.Id')" class="fa fa-check"></i></span>
                                    <span class="hoverable"><i onclick="odbij('@prijava.Id')" class="fa fa-times"></i></span>
                                </div>
                            </div>

                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Pretraga korisnika</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="card-text">
                    <div>
                        <form>
                            <input class="form-control" id="pret" type="text" onkeydown="pretraga(this, '@Model.Zbor.Id')">
                        </form>
                    </div>
                    <div id="rezultati">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Moderatori</h6>
                <i class="fa fa-info" data-toggle="tooltip" data-placement="right" title="Moderatori mogu uređivati sav sadržaj unutar zbora, no ne mogu promijeniti voditelja."></i>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="card-text">

                    <div id="listaModeratora">
                        @if (Model.Zbor.ModeratorZbora == null || Model.Zbor.ModeratorZbora.Count() == 0)
                        {<p id="nemaModeratora">Nema moderatora u zboru.</p>}
                        else
                        {<p id="nemaModeratora" style="display:none">Nema moderatora u zboru.</p>}

                        @foreach (var moderator in Model.Zbor.ModeratorZbora)
                        {
                            <div id="Mod-@moderator.Id" style="width:100%; padding-bottom:7px" class="d-flex flex-row align-items-center justify-content-between">
                                <div> <a href="#">@moderator.IdKorisnikNavigation.ImeIPrezime()</a> </div>
                                <div>
                                    <span class="hoverable"><i onclick="odmoderiraj('@moderator.Id')" class="fa fa-times"></i></span>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Poziv</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <span><text>Poziv za zbor </text><text id="ime"></text></span>
                    <p id="id" hidden></p>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Poruka za korisnika:</label>
                        <textarea class="form-control" id="poruka"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary" onclick="prijavaAjax('@Model.Zbor.Id')">Pozovi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="promjenaGlasa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Promjena glasa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <span><text id="ime"></text></span>
                    <p id="id" hidden></p>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Glas:</label>
                        <select class="form-control" id="selectGlasa">
                            <option value="1">Sopran</option>
                            <option value="2">Alt</option>
                            <option value="3">Tenor</option>
                            <option value="4">Bas</option>

                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary" onclick="promjenaGlasa()">Promijeni</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/Administracija.js">
        

    </script>

    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var ime = button.data('ime') // Extract info from data-* attributes
            var id = button.data('id')

            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('#ime').text(ime)
            modal.find('#id').text(id)
        })
        $('#promjenaGlasa').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var ime = button.data('ime') // Extract info from data-* attributes
            var id = button.data('id')
            var glas = button.data('glas')


            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('#ime').text(ime);
            modal.find('#id').text(id);
             modal.find('#selectGlasa').val(glas);

        })
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}