@model ZborApp.Models.ZborViewModels.AdministracijaProjektaViewModel;
@{
    ViewData["Title"] = "Administracija";
}

<h2>Administracija projekta</h2>


<div class="row">
    <div class="col-md-3" id="Clanovi">
        <h5>Članovi na projektu</h5>

        @if (Model.Projekt.ClanNaProjektu == null || Model.Projekt.ClanNaProjektu.Count() == 0)
        {<p>Trenutno nema aktivnih članova na projektu.</p>}
        @foreach (var clan in Model.Projekt.ClanNaProjektu)
        {
            <p><a href="#">@clan.IdKorisnikNavigation.Ime @clan.IdKorisnikNavigation.Prezime</a></p>
        }

    </div>

    <div class="col-md-5">

        <h5>Prijave za projekt</h5>
        @if (Model.Projekt.PrijavaZaProjekt == null || Model.Projekt.PrijavaZaProjekt.Count() == 0)
        {<p>Trenutno nema prijava za projekt.</p>}
        <div>
            @foreach (var prijava in Model.Projekt.PrijavaZaProjekt)
            {

                <p id="Prijava-@prijava.Id">
                    <a href="#">@prijava.IdKorisnikNavigation.Ime @prijava.IdKorisnikNavigation.Prezime</a> <text> @prijava.DatumPrijave.ToLongDateString() </text>   <button class="btn btn-sm btn-outline-success" onclick="prihvati('@prijava.Id')">Prihvati</button> <button class="btn btn-sm btn-outline-danger" onclick="odbij('@prijava.Id')">Odbij</button>
                </p>
            }

        </div>
    </div>

    <div class="col-md-4">
        <h5>Pozivi za projekt</h5>
        @if (Model.Projekt.PozivZaProjekt == null || Model.Projekt.PozivZaProjekt.Count() == 0)
        {<p>Nema aktivnih poziva.</p>}
        <div>
            @foreach (var poziv in Model.Projekt.PozivZaProjekt)
            {
                <p  id="Poziv-@poziv.Id">
                    <a href="#">@poziv.IdKorisnikNavigation.Ime @poziv.IdKorisnikNavigation.Prezime</a> <text>@poziv.DatumPoziva.Date.ToLongDateString() </text>  <button class="btn btn-sm btn-outline-danger" onclick="odbaci('@poziv.Id')">Obriši</button>
                </p>
            }

        </div>
    </div>
</div>

<hr />

<h5>Pretraga korisnika</h5>
<div>
    <form>
        <input class="form-control" id="pret" type="text" onkeydown="pretraga(this, '@Model.Projekt.Id')">
    </form>
</div>
<div id="rezultati">

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Poziv</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <span><text>Poziv na projekt </text><text id="ime"></text></span>
                    <p id="id" hidden></p>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Poruka za korisnika:</label>
                        <textarea class="form-control" id="poruka"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary" onclick="prijavaAjax()">Prijavi se</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function prihvati(id) {
            data = { Value: id + '' }
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                url: '@Url.Action("PrihvatiPrijavuProjekt", "Zbor")',
                data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
            }).done(function (response) {
                console.log(response)
                idDiv = "#Clanovi";
                var $newdiv1 = $('<a href="#">' + response.value + '</a>')
                $(idDiv).append($newdiv1);
                prijava = '#Prijava-' + id
                $(prijava).hide();

            })
            .always(function () {
                g = 2;
            });

        }

        function odbij(id) {
            data = { Value: id + '' }
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                url: '@Url.Action("OdbijPrijavuProjekt", "Zbor")',
                data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
            }).done(function (response) {
                console.log(id);
                console.log(response);
                prijava = '#Prijava-' + id;
                $(prijava).hide();

            })
            .always(function () {
                g = 2;
            });

        }

        function obrisi(id) {
            data = { Value: id + '' }
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                url: '@Url.Action("ObrisiPozivProjekt", "Zbor")',
                data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
            }).done(function (response) {
                poziv = '#Poziv-' + id
                $(poziv).hide();

            })
            .always(function () {
                g = 2;
            });

        }

        function pretraga(ele, id) {
            if(event.keyCode != 13) {
                return;
            }
            inputPolje = '#pret';
            $(inputPolje).prop('disabled', true)
            data = { Tekst: ele.value + '', Id : id+'' }
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                url: '@Url.Action("PretragaKorisnikaProjekt", "Zbor")',
                data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
            }).done(function (response) {
                console.log(response)
                $("#rezultati").empty();
                var i;
                for (i = 0; i < response.length; i++) {
                    var $newdiv = $('<div class="row"></div>');
                    var $divcol1 = $('<div class="col-md-3"></div>');
                    var $link = $('<a href="#">' + response[i].imeIPrezime + '</a>');
                    $divcol1.append($link);
                    $newdiv.append($divcol1);

                    
                    var $divcol2 = $('<div class="col-md-3" id="B-' + response[i].id +'" ></div>');
                    var $button = ('<button type="button"  class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal" data-ime="' + response[i].imeIPrezime + '" data-id="' + response[i].id + '">Pozovi</button>');
                    $divcol2.append($button);
                    $newdiv.append($divcol2);

                    var $divcol3 = $('<div class="col-md-3" id="T-' + response[i].id +'" style="display: none"></div>');
                    var $tekst = $('<text   class="text-success">Poziv poslan.</text>');
                    $divcol3.append($tekst);
                    $newdiv.append($divcol3);

                    
                    $("#rezultati").append($newdiv);

                }

            })
            .always(function () {

                $(inputPolje).prop('disabled', false)
            });

        }

    </script>

    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var ime = button.data('ime') // Extract info from data-* attributes
            var id = button.data('id')

            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('#ime').text(ime)
            modal.find('#id').text(id)
        })
    </script>
    <script>
        function prijavaAjax() {
            modal = $('#exampleModal')
            data = { Id: '@Model.Projekt.Id', Naziv: modal.find('#ime').text() + '', Poruka: modal.find('#poruka').val() + '' }
            console.log(data)
             $.ajax({
                 type: "POST",
                 dataType: "json",
                contentType: "application/json;charset=utf-8",
                 url: '@Url.Action("PozivZaProjekt", "Zbor")',
                 data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
             });
            modal.modal('toggle')
            id = modal.find('#id').text() + ''
            testB = '#B-' + id
            testC = '#T-' + id
            $(testB).hide();
            $(testC).show("slow")
        }


    </script>
}