@using ZborDataStandard.Model;
@model ZborDataStandard.ViewModels.ZborViewModels.IndexViewModel
@{
    ViewData["Title"] = "Zborovi";
}
    <div class="">

            <h1 class="h3 mb-0 text-gray-800">Moji zborovi</h1>
        <br/
            <h4><a asp-action="Dodaj">+ Dodaj vlastiti zbor</a></h4>

    </div>

    <div class="row">
        <div class="col-6">
            <div class="col-12">

                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Moji zborovi</h6>
                       
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="card-text">
                            @if (Model.MojiZborovi == null || Model.MojiZborovi.Count() == 0)
                            {
                                <p>Učlanite se u neki zbor!</p>
                            }
                            @foreach (Zbor zbor in Model.MojiZborovi)
                            {
                                <div class="row" style="align-items:center; margin-bottom:5px">
                                    <div class="col-md-12">
                                        <img src="/Repozitorij/GetZbor/@zbor.IdSlika" alt="profpic" class="img-profile rounded-circle" style="width:40px; height:40px;"> &nbsp;

                                        <a asp-action="Profil" asp-route-id="@zbor.Id">@zbor.Naziv</a>
                                    </div>

                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            @if (Model.MojiPozivi != null && Model.MojiPozivi.Count() > 0)
            {
                <div class="col-12">

                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Pozivi za zbor</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="card-text">

                                @foreach (PozivZaZbor poziv in Model.MojiPozivi)
                                {
                                    <div class="row">
                                        <div class="col-md-8">
                                            <img src="/Repozitorij/GetZbor/@poziv.IdZborNavigation.IdSlika" alt="profpic" class="img-profile rounded-circle" style="width:40px; height:40px;"> &nbsp;
                                            <a asp-action="JavniProfil" asp-route-id="@poziv.IdZborNavigation.Id">@poziv.IdZborNavigation.Naziv</a>
                                        </div>
                                        <div class="col-md-4">
                                            <a class="btn btn-sm btn-outline-success" asp-action="PrihvatiPoziv" asp-route-id="@poziv.Id">Prihvati</a>
                                            <a class="btn btn-sm btn-outline-danger" asp-action="OdbijPoziv" asp-route-id="@poziv.Id">Odbij</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-12">

                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Zborovi u koje ste se prijavili</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="card-text">

                            @if (Model.PoslanePrijaveZborovi == null || Model.PoslanePrijaveZborovi.Count() == 0)
                            {
                                <p>Nema prijavljenih zborova</p>
                            }
                            @foreach (Zbor zbor in Model.PoslanePrijaveZborovi)
                            {
                                <div class="row" style="align-items:center">
                                    <div class="col-md-9" >
                                        <img src="/Repozitorij/GetZbor/@zbor.IdSlika" alt="profpic" class="img-profile rounded-circle" style="width:40px; height:40px;"> &nbsp;
                                        <a asp-action="JavniProfil" asp-route-id="@zbor.Id">@zbor.Naziv</a>
                                    </div>
                                    <div class="col-md-3" id="B-@zbor.Id">
                                        <button type="button" class="btn btn-sm btn-outline-danger" onclick="odbij('@zbor.PrijavaZaZbor.Where(p => p.IdKorisnik == Model.KorisnikId && p.IdZbor==zbor.Id).Single().Id', '@zbor.Id')">Povuci prijavu</button>
                                    </div>
                                    <div class="col-md-3" id="T-@zbor.Id" style="display: none">
                                        <text class="text-danger">Prijava obrisana.</text>

                                    </div>
                                </div>
                                <br />

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



@section Scripts {
    
    <script>
        function odbij(id, idZb) {
            data = { Value: id + '' }
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                url: '@Url.Action("OdbijPrijavu", "Zbor")',
                data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
            }).done(function (response) {
                testB = '#B-' + idZb
                testC = '#T-' + idZb
                $(testB).hide();
                $(testC).show("slow");

            })
            .always(function () {
                g = 2;
            });

        }


    </script>

}
