@model ZborDataStandard.ViewModels.ZborViewModels.JavniProfilViewModel;
@using ZborDataStandard.Model
@{
    ViewData["Title"] = "Profil";
}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@Model.Zbor.Naziv</h1>
</div>


<div class="row">
    <div class="col-7">
        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">O zboru</h6>
                    @if(Model.Mod)
                    { 
                    <div>
                        <button id="Urediozboru-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="edit('@Model.Zbor.Id', 'ozboru')" type="button">Uredi</button>
                        <button id="Spremiozboru-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="save('@Model.Zbor.Id', 'ozboru')" type="button" style="display:none">Spremi</button>
                    </div>
                    }
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-text">
                        <div id="ozboru-@Model.Zbor.Id" class="summernote">@Html.Raw(Model.Zbor.ProfilZbor.OZboru)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">O voditeljima</h6>
                    @if (Model.Mod)
                    {
                        <div>
                            <button id="Urediovoditeljima-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="edit('@Model.Zbor.Id', 'ovoditeljima')" type="button">Uredi</button>
                            <button id="Spremiovoditeljima-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="save('@Model.Zbor.Id', 'ovoditeljima')" type="button" style="display:none">Spremi</button>
                        </div>
                    }
                </div>

                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-text">
                        <div id="ovoditeljima-@Model.Zbor.Id" class="summernote">@Html.Raw(Model.Zbor.ProfilZbor.OVoditeljima)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">

            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Poveznice</h6>
                    @if (Model.Mod)
                    {
                        <div>
                            <button id="Uredireprezentacija-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="edit('@Model.Zbor.Id', 'reprezentacija')" type="button">Uredi</button>
                            <button id="Spremireprezentacija-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="save('@Model.Zbor.Id', 'reprezentacija')" type="button" style="display:none">Spremi</button>
                        </div>
                    }
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-text">
                        <div id="reprezentacija-@Model.Zbor.Id" class="summernote">@Html.Raw(Model.Zbor.ProfilZbor.Reprezentacija)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Podaci o zboru</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-text">
                        <div class="col-12">
                            <div class="row">Adresa: @Model.Zbor.Adresa</div>
                            <div class="row">Datum osnutka: @Model.Zbor.DatumOsnutka.ToString("dd.MM.yyyy.")</div>
                            <div class="row">Voditelj: @Model.Zbor.Voditelj.First().IdKorisnikNavigation.ImeIPrezime()</div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">

            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Repertoar</h6>
                    @if (Model.Mod)
                    {
                        <div>
                            <button id="Uredirepertoar-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="edit('@Model.Zbor.Id', 'repertoar')" type="button">Uredi</button>
                            <button id="Spremirepertoar-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="save('@Model.Zbor.Id', 'repertoar')" type="button" style="display:none">Spremi</button>
                        </div>
                    }
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-text">
                        <div id="repertoar-@Model.Zbor.Id" class="summernote">@Html.Raw(Model.Zbor.ProfilZbor.Repertoar)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
    <script>
        function edit(id, uri) {
            var spremi = "#Spremi" +uri+"-" + id;
            var uredi = "#Uredi" +uri+"-" + id;
            var zapis = "#" +uri+"-" + id;

            $(zapis).summernote({ focus: true });
            $(uredi).hide();
            $(spremi).show();
        };

        function save(id, uri) {
                 var spremi = "#Spremi" +uri+"-" + id;
            var uredi = "#Uredi" +uri+"-" + id;
            var zapis = "#" +uri+"-" + id;
            var zapis = "#" +uri+"-" + id;
            var markup = $(zapis).summernote('code');
            $(zapis).summernote('destroy');

            data = { Id: id + '', Tekst: $(zapis).html() };
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                url: '/Zbor/Uredi' + uri,
                data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
            }).done(function (response) {

            })
                .always(function () {

                });
            $(spremi).hide();
            $(uredi).show();
        };
    </script>
}
