@model ZborDataStandard.ViewModels.ZborViewModels.JavniProfilViewModel;
@using ZborDataStandard.Model
@{
    ViewData["Title"] = "Profil";
}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="row">
        <img src="/Repozitorij/GetZbor/@Model.Zbor.IdSlika" alt="profpic" class="img-profile rounded-circle" style="width:60px; height:60px;"><br />

        <h1 class="h3 mb-0 text-gray-800">@Model.Zbor.Naziv</h1>
    </div>
</div>
<div class="row">
    <a class="btn btn-outline-secondary" asp-controller="Repozitorij" asp-action="Zbor" asp-route-id="@Model.Zbor.Id">Repozitorij</a>
    <a class="btn btn-outline-secondary" asp-controller="Zbor" asp-action="Galerija" asp-route-id="@Model.Zbor.Id">Galerija</a>
    <a class="btn btn-outline-secondary" asp-controller="Zbor" asp-action="PrijavaZbor" asp-route-id="@Model.Zbor.Id" style="@if (Model.Clan) {<text>display:none</text> } ">
        @if (Model.Prijava) { <text>Povuci prijavu</text>}
        else { <text>Prijava</text>}
    </a>

</div>
<br />
<div class="row">
    <div class="col-7">
        <!-- Area Chart -->
        <div class="col-12">

            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">O zboru</h6>
                    @if (Model.Mod)
                    {
                        <div>
                            <button id="Urediozboru-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="edit('@Model.Zbor.Id', 'ozboru')" type="button">Uredi</button>
                            <button id="Spremiozboru-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="save('@Model.Zbor.Id', 'ozboru')" type="button" style="display:none">Spremi</button>
                        </div>
                    }
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-text">
                        <div id="ozboru-@Model.Zbor.Id" class="summernote">@Html.Raw(Model.Zbor.ProfilZbor.OZboru)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">O voditeljima</h6>
                    @if (Model.Mod)
                    {
                        <div>
                            <button id="Urediovoditeljima-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="edit('@Model.Zbor.Id', 'ovoditeljima')" type="button">Uredi</button>
                            <button id="Spremiovoditeljima-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="save('@Model.Zbor.Id', 'ovoditeljima')" type="button" style="display:none">Spremi</button>
                        </div>
                    }
                </div>

                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-text">
                        <div id="ovoditeljima-@Model.Zbor.Id" class="summernote">@Html.Raw(Model.Zbor.ProfilZbor.OVoditeljima)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">

            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Repertoar</h6>
                    @if (Model.Mod)
                    {
                        <div>
                            <button id="Uredirepertoar-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="edit('@Model.Zbor.Id', 'repertoar')" type="button">Uredi</button>
                            <button id="Spremirepertoar-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="save('@Model.Zbor.Id', 'repertoar')" type="button" style="display:none">Spremi</button>
                        </div>
                    }
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-text">
                        <div id="repertoar-@Model.Zbor.Id" class="summernote">@Html.Raw(Model.Zbor.ProfilZbor.Repertoar)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">

            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Članovi</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
               
                    <div class="card-title d-flex flex-row align-items-center justify-content-between">
                        <div class="col-md-2">
                            Soprani
                        </div>
                        <div class="col-md-2">
                            Alti
                        </div>
                        <div class="col-md-2">
                            Tenori
                        </div>
                        <div class="col-md-2">
                            Basi
                        </div>
                        <div class="col-md-2">
                            Nerazvrstani
                        </div>
                    </div>
                    <div class="card-text d-flex flex-row align-items-start justify-content-between">
                        <div class="col-md-2" style="padding-right:0px" id="1">
                            
                                @foreach (var clan in Model.Zbor.ClanZbora.Where(c=> c.Glas.Trim().Equals("sopran")))
                                {
                                    <div id="Clan-@clan.Id" style="width:100%; padding-top:7px" class="d-flex flex-row align-items-center justify-content-between">
                                        <a asp-action="JavniProfil" asp-controller="Korisnik" asp-route-id="@clan.IdKorisnik">@clan.IdKorisnikNavigation.Ime @clan.IdKorisnikNavigation.Prezime</a>           
                                    </div>

                                }
                            
                        </div>
                        <div class="col-md-2" id="2">
                          
                                @foreach (var clan in Model.Zbor.ClanZbora.Where(c => c.Glas.Trim().Equals("alt")))
                                {
                                    <div id="Clan-@clan.Id" style="width:100%; padding-top:7px" class="d-flex flex-row align-items-center justify-content-between">
                                        <a asp-action="JavniProfil" asp-controller="Korisnik" asp-route-id="@clan.IdKorisnik">@clan.IdKorisnikNavigation.Ime @clan.IdKorisnikNavigation.Prezime</a>
                                    </div>
                                }
                            
                        </div>
                        <div class="col-md-2" id="3">
                            
                                @foreach (var clan in Model.Zbor.ClanZbora.Where(c => c.Glas.Trim().Equals("tenor")))
                                {
                                    <div id="Clan-@clan.Id" style="width:100%; padding-top:7px" class="d-flex flex-row align-items-center justify-content-between">
                                        <a asp-action="JavniProfil" asp-controller="Korisnik" asp-route-id="@clan.IdKorisnik">@clan.IdKorisnikNavigation.Ime @clan.IdKorisnikNavigation.Prezime</a>
                                    </div>

                                }
                            
                        </div>
                        <div class="col-md-2" id="4">
                          
                                @foreach (var clan in Model.Zbor.ClanZbora.Where(c => c.Glas.Trim().Equals("bas")))
                                {
                                    <div id="Clan-@clan.Id" style="width:100%; padding-top:7px" class="d-flex flex-row align-items-center justify-content-between">
                                        <a asp-action="JavniProfil" asp-controller="Korisnik" asp-route-id="@clan.IdKorisnik">@clan.IdKorisnikNavigation.Ime @clan.IdKorisnikNavigation.Prezime</a>
                                    </div>

                                }
                            
                        </div>
                        <div id="Nerazvrstani" class="col-md-2">
                          
                                @foreach (var clan in Model.Zbor.ClanZbora.Where(c => c.Glas.Trim().Equals("ne")))
                                {
                                    <div id="Clan-@clan.Id" style="width:100%; padding-top:7px" class="d-flex flex-row align-items-center justify-content-between">
                                        <a asp-action="JavniProfil" asp-controller="Korisnik" asp-route-id="@clan.IdKorisnik">@clan.IdKorisnikNavigation.Ime @clan.IdKorisnikNavigation.Prezime</a>
                                    </div>

                                }
                            
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    Voditelj: <a href="#">@Model.Zbor.Voditelj.First().IdKorisnikNavigation.ImeIPrezime()</a>
                </div>
            </div>


        </div>
    </div>
    <div class="col-5">
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Podaci o zboru</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-text">
                        <div class="col-12">
                            <div class="row">Adresa: @Model.Zbor.Adresa</div>
                            <div class="row">Datum osnutka: @Model.Zbor.DatumOsnutka.ToString("dd.MM.yyyy.")</div>
                            <div class="row">Voditelj: @Model.Zbor.Voditelj.First().IdKorisnikNavigation.ImeIPrezime()</div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">

            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Poveznice</h6>
                    @if (Model.Mod)
                    {
                        <div>
                            <button id="Uredireprezentacija-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="edit('@Model.Zbor.Id', 'reprezentacija')" type="button">Uredi</button>
                            <button id="Spremireprezentacija-@Model.Zbor.Id" class="btn btn-outline-secondary" onclick="save('@Model.Zbor.Id', 'reprezentacija')" type="button" style="display:none">Spremi</button>
                        </div>
                    }
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-text">
                        <div id="reprezentacija-@Model.Zbor.Id" class="summernote">@Html.Raw(Model.Zbor.ProfilZbor.Reprezentacija)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
    <script>
        function edit(id, uri) {
            var spremi = "#Spremi" +uri+"-" + id;
            var uredi = "#Uredi" +uri+"-" + id;
            var zapis = "#" +uri+"-" + id;

            $(zapis).summernote({ focus: true });
            $(uredi).hide();
            $(spremi).show();
        };

        function save(id, uri) {
                 var spremi = "#Spremi" +uri+"-" + id;
            var uredi = "#Uredi" +uri+"-" + id;
            var zapis = "#" +uri+"-" + id;
            var zapis = "#" +uri+"-" + id;
            var markup = $(zapis).summernote('code');
            $(zapis).summernote('destroy');

            data = { Id: id + '', Tekst: $(zapis).html() };
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                url: '/Zbor/Uredi' + uri,
                data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
            }).done(function (response) {

            })
                .always(function () {

                });
            $(spremi).hide();
            $(uredi).show();
        };
    </script>
}
