@model ZborApp.Models.ZborViewModels.ProfilViewModel;
@using ZborData.Model
@{
    ViewData["Title"] = "Profil";
}
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/jquery.magicsearch.min.css" type="text/css" rel="stylesheet" />

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Obavijesti</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Jsdsr</a>
</div>


<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Napiši obavijest</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="card-text">
                    <form id="formy" style="width:100%" asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-route-id="@Model.Zbor.Id" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">

                            <div class="form-group col-md-6">
                                <label asp-for="NovaObavijest.Naslov"></label>
                                <input asp-for="NovaObavijest.Naslov" class="form-control" />
                                <span asp-validation-for="NovaObavijest.Naslov" class="text-danger"></span>
                            </div>
                        </div>

                        <label asp-for="NovaObavijest.Tekst">Obavijest:</label>
                        <span asp-validation-for="NovaObavijest.Tekst" class="text-danger"></span>


                        <textarea class="col-md-12 form-control" asp-for="NovaObavijest.Tekst" style="resize:none; height: 150px; width:500px"></textarea>

                        <div style="padding-top:20px" class="d-flex justify-content-between align-items-center">

                            <span>

                                <input class="form-control" style="width:400px" id="basic" placeholder="Projekti vezani uz obavijest:" />
                                <input asp-for="OdabraniProjekti" id="basicHidden" style="display:none" />

                            </span>
                            <div>
                                <button type="submit" class="btn btn-outline-secondary mb-2" style="bottom:0;" onclick="posaljiObavijest()">Dodaj!</button>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@foreach (Obavijest o in Model.Obavijesti)
{
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">

                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <img src="@o.IdKorisnikNavigation.Slika" alt="profpic" style="border-radius:50%; width:30px; height:30px">
                            @o.IdKorisnikNavigation.Ime @o.IdKorisnikNavigation.Prezime  <text class="small text-muted"> | @o.DatumObjave</text>
                        </div>
                        <div>
                            @if (Model.Admin || o.IdKorisnik == Model.IdKorisnik)
                            {
                                <a style="right:0px;" asp-action="ObrisiObavijest" asp-route-id="@o.Id"><i class="fa fa-trash-o"></i></a>
                            }
                        </div>
                    </div>
                </div>



                <div class="card-body">
                    <h6 class="card-title" style="font:bold">@o.Naslov</h6>
                    <p class="card-text">
                        @o.Tekst
                    </p>

                </div>
                <div class="card-footer">
                    <div class="col-md-12" style="padding-left:0px">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                @if (o.LajkObavijesti.Where(l => l.IdKorisnik == Model.IdKorisnik).Count() == 0)
                                {
                                    <button id="BtnO-@o.Id" onclick="lajkObavijesti('@o.Id')" class="btn btn-outline-secondary btn-sm">@Html.Raw("Sviđa mi se")</button>
                                }
                                else
                                {
                                    <button id="BtnO-@o.Id" onclick="lajkObavijesti('@o.Id')" class="btn btn-secondary btn-sm">@Html.Raw("Sviđa mi se")</button>
                                }
                            </div>
                            <div>
                                <i class="fa fa-thumbs-o-up"></i><span id="LajkO-@o.Id" class="badge badge-danger badge-counter">@o.LajkObavijesti.Count</span>
                            </div>
                        </div>

                    </div>
                    <br />
                    <ul id="Komentari-@o.Id" class="list-group list-group-flush">
                        @foreach (KomentarObavijesti k in o.KomentarObavijesti.OrderBy(k => k.DatumObjave))
                        {
                            <li class="list-group-item small" style="margin-bottom:0px; padding-bottom:0px" id="Kom-@k.Id">
                                <div class="col-md-6 rounded-pill" style="display: inline-block; background-color:gainsboro;  ">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <img src="@k.IdKorisnikNavigation.Slika" alt="profpic" style="border-radius:50%; width:30px; height:30px">
                                            <span style="color:cornflowerblue">@k.IdKorisnikNavigation.Ime @k.IdKorisnikNavigation.Prezime</span>: @k.Tekst
                                        </div>
                                        <div>
                                            @if (Model.Admin || o.IdKorisnik == Model.IdKorisnik || k.IdKorisnik == Model.IdKorisnik)
                                            {
                                                <a class="hoverable" onclick="obrisi('@k.Id')"><i class="fa fa-trash-o"></i></a>
                                            }
                                        </div>

                                    </div>
                                </div>
                                <div style="padding-top:0px" class="col-md-4">
                                    <p class="small">
                                        @k.DatumObjave  <i class="fa fa-thumbs-o-up"></i><span id="LajkK-@k.Id" class="badge badge-danger badge-counter">@k.LajkKomentara.Count</span>
                                        @if (k.LajkKomentara.Where(l => l.IdKorisnik == Model.IdKorisnik).Count() == 0)
                                        {
                                            <a style="color:blue" class="hoverable" id="BtnK-@k.Id" onclick="lajkKomentara('@k.Id')">Sviđa mi se</a>
                                        }
                                        else
                                        {
                                            <a style="color:blue" class="hoverable font-weight-bold" id="BtnK-@k.Id" onclick="lajkKomentara('@k.Id')">Sviđa mi se</a>
                                        }

                                    </p>
                                </div>

                            </li>
                        }

                    </ul>

                    <form>
                        <input class="form-control" placeholder="Komentiraj..." id="noviKomentar-@o.Id" type="text" onkeydown="test(this, '@o.Id')">
                    </form>
                </div>

            </div>


        </div>
    </div>
}




@section Scripts {

    <script>
            function lajkObavijesti(id) {
                gumbObavijest = '#BtnO-' + id;
                brojLajkovaObavijest = '#LajkO-' + id;
                data = { IdCilj: id + '', IdKorisnik: '@Model.IdKorisnik' };
                if ($(gumbObavijest).hasClass("btn-outline-secondary")) {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        url: '@Url.Action("LajkObavijesti", "Zbor")',
                        data: JSON.stringify(data),
                        xhrFields: {
                            withCredentials: true
                        }
                    });
                    brojLajkova = $(brojLajkovaObavijest).val() + 1;
                    $(brojLajkovaObavijest).text(brojLajkova);

                    $(gumbObavijest).removeClass("btn-outline-secondary");
                    $(gumbObavijest).addClass("btn-secondary");
                }
                else {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        url: '@Url.Action("UnlajkObavijesti", "Zbor")',
                        data: JSON.stringify(data),
                        xhrFields: {
                            withCredentials: true
                        }
                    });
                    brojLajkova = $(brojLajkovaObavijest).text() - 1;
                    $(brojLajkovaObavijest).text(brojLajkova);

                    $(gumbObavijest).removeClass("btn-secondary");
                    $(gumbObavijest).addClass("btn-outline-secondary");
                }


                console.log(brojLajkova)
        }

    </script>

    <script>
            function lajkKomentara(id) {
                gumbKomentar = '#BtnK-' + id;
                brojLajkovaKomentar = '#LajkK-' + id;

                data = { IdCilj: id + '', IdKorisnik: '@Model.IdKorisnik' };
                if ($(gumbKomentar).hasClass("font-weight-bold")) {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        url: '@Url.Action("UnlajkKomentara", "Zbor")',
                        data: JSON.stringify(data),
                        xhrFields: {
                            withCredentials: true
                        }
                    });
                    brojLajkova = $(brojLajkovaKomentar).text() - 1;
                    $(brojLajkovaKomentar).text(brojLajkova);

                    $(gumbKomentar).removeClass("font-weight-bold");
                }
                else {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        url: '@Url.Action("LajkKomentara", "Zbor")',
                        data: JSON.stringify(data),
                        xhrFields: {
                            withCredentials: true
                        }
                    });
                    brojLajkova = Number($(brojLajkovaKomentar).text()) + 1;
                    $(brojLajkovaKomentar).text(brojLajkova);

                    $(gumbKomentar).addClass("font-weight-bold");
                }
        }

    </script>

    <script>

        function test(ele, id) {
            if(event.keyCode != 13) {
                return;
            }
            inputPolje = '#noviKomentar-' + id
            $(inputPolje).prop('disabled', true)
            data = { Tekst: ele.value + '', IdObavijest: id + '' }
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                url: '@Url.Action("NoviKomentar", "Zbor")',
                data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
            }).done(function (response) {
                console.log(response)
                idKomentara = response + '';
                idDiv = "#Komentari-" + id;
                var $listItem = $('<li class="list-group-item small" style="margin-bottom:0px; padding-bottom:0px"  id="Kom-'+response.id+'"></li>')
                $(idDiv).append($listItem);

                var $d = $('<div class="d-flex justify-content-between align-items-center"></div>');
                var $kom = $('<div class="col-md-6 rounded-pill" style="display: inline-block; background-color:gainsboro;"></div>');
                var $div1 = $('<div><img src="@Model.Slika" alt="profpic" style="border-radius:50%; width:30px; height:30px"><span style="color:cornflowerblue">' + '@Model.ImeIPrezime' + '</span>: ' + response.tekst + '</div>');
                $($d).append($div1);

                var $div2 = $('<div><a class="hoverable" onclick="obrisi(\'' + response.id + '\')"><i class="fa fa-trash-o"></i></a>  </div>');
                $($d).append($div2);
                $($kom).append($d);

                $($listItem).append($kom);

                var $newdiv2 = $( '<div class="col-md-2"><p class="small">'+'@DateTime.Now'+'</p></div>' )

                var $last = $('<div class="col-md-4"> <p class="small">' + '@DateTime.Now' + ' <i class="fa fa-thumbs-o-up"></i> <span class="badge badge-danger badge-counter" id="LajkK-' + response.id + '">0</span> <a class="hoverable" style="color:blue" id="BtnK-' + response.id + '" onclick="lajkKomentara(\'' + response.id + '\')">Sviđa mi se</a> </p></div>');
                $($listItem).append($last);

                var $newdiv3 = $('<div class="col-md-4"><p class="small">' + '@Model.ImeIPrezime' + '</p></div>');
                $(idDiv).append($listItem);

                $(inputPolje).val('');




            })
            .always(function () {

                $(inputPolje).prop('disabled', false)
            });

        }

    </script>

    <script>
        function obrisi(id) {
            data = { Value: id + '' }
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                url: '@Url.Action("ObrisiKomentar", "Zbor")',
                data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
            }).done(function (response) {
                kom = '#Kom-' + id
                $(kom).hide();

            })
            .always(function () {
                g = 2;
            });

        }
    </script>
    <script src="~/js/jquery.magicsearch.js"></script>

    <script>
            var dataSource = [
                        @foreach(var projekt in Model.Projekti)
                        {
                            <text>{ id: '@projekt.Id', firstName: '@Html.Raw(projekt.Naziv)'},</text>
                        }
            ];
            $('#basic').magicsearch({
                    dataSource: dataSource,
                    fields: ['firstName'],
                    id: 'id',
                    format: '%firstName%',
                    multiple: true,
                    multiField: 'firstName',
                    multiStyle: {
                        space: 5,
                        width: 80
                    }
                });


    </script>
    <script>
        function posaljiObavijest() {
            $("#basicHidden").val($('#basic').attr("data-id"));
            $("#formy").submit();
        }
    </script>
}
