@model ZborApp.Models.ZborViewModels.ProfilViewModel;
@using ZborData.Model
@{
    ViewData["Title"] = "Profil";
}
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/jquery.magicsearch.min.css" type="text/css" rel="stylesheet" />

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Obavijesti</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Jsdsr</a>
</div>


<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Napiši obavijest</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="card-text">
                    <form id="formy" style="width:100%" asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-route-id="@Model.Zbor.Id" method="post">
                        <div asp-validation-summary="All" class="text-danger">@if (ViewData["Model"] != null){<text>@ViewData["Model"]</text>}</div>
                        <div class="row">

                            <div class="form-group col-md-6">
                                <label asp-for="NovaObavijest.Naslov"></label>
                                <input asp-for="NovaObavijest.Naslov" class="form-control" />
                                <span asp-validation-for="NovaObavijest.Naslov" class="text-danger"></span>
                            </div>
                        </div>

                        <label asp-for="NovaObavijest.Tekst">Obavijest:</label>
                        <span asp-validation-for="NovaObavijest.Tekst" class="text-danger"></span>


                        <textarea class="col-md-12 form-control" asp-for="NovaObavijest.Tekst" style="resize:none; height: 150px; width:500px"></textarea>

                        <div style="padding-top:20px" class="d-flex justify-content-between align-items-center">

                            <span>

                                <input class="form-control" style="width:400px" id="basic" placeholder="Obavijest je vezana uz projekte:" />
                                <input asp-for="OdabraniProjekti" id="basicHidden" style="display:none" />

                            </span>
                            <div>
                                <button type="submit" class="btn btn-outline-secondary mb-2" style="bottom:0;" onclick="posaljiObavijest()">Dodaj!</button>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


@foreach (Obavijest o in Model.Obavijesti)
{
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">

                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <img src="/repozitorij/get/@o.IdKorisnikNavigation.IdSlika" alt="profpic" style="border-radius:50%; width:30px; height:30px">
                            @o.IdKorisnikNavigation.Ime @o.IdKorisnikNavigation.Prezime  <text class="small text-muted"> | @o.DatumObjave.ToString("dd.MM.yyyy. HH:mm")</text>
                        </div>
                        <div>
                            @if (Model.Admin || o.IdKorisnik == Model.IdKorisnik)
                            {
                                <form asp-action="ObrisiObavijest" asp-route-id="@o.Id" method="post"><button type="submit" class="btn btn-outline-secondary"><i class="fa fa-trash-o hoverable"></i></button></form>
                            }
                        </div>
                    </div>
                </div>



                <div class="card-body">
                    <h6 class="card-title" style="font:bold">@o.Naslov</h6>
                    <p class="card-text">
                        @o.Tekst
                    </p>

                </div>
                <div class="card-footer">
                    <div class="col-md-12" style="padding-left:0px">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                @if (o.LajkObavijesti.Where(l => l.IdKorisnik == Model.IdKorisnik).Count() == 0)
                                {
                                    <button id="BtnO-@o.Id" onclick="lajkObavijesti('@o.Id', '@Model.IdKorisnik')" class="btn btn-outline-secondary btn-sm">@Html.Raw("Sviđa mi se")</button>
                                }
                                else
                                {
                                    <button id="BtnO-@o.Id" onclick="lajkObavijesti('@o.Id', '@Model.IdKorisnik')" class="btn btn-secondary btn-sm">@Html.Raw("Sviđa mi se")</button>
                                }
                            </div>
                            <div class="hoverable" data-id="@o.Id" data-name="obavijest" data-toggle="modal" data-target="#statistika">
                                <i class="fa fa-thumbs-o-up"></i><span id="LajkO-@o.Id" class="badge badge-secondary badge-counter">@o.LajkObavijesti.Count</span>
                            </div>
                        </div>

                    </div>
                    <br />
                    <ul id="Komentari-@o.Id" class="list-group list-group-flush">
                        @foreach (KomentarObavijesti k in o.KomentarObavijesti.OrderBy(k => k.DatumObjave))
                        {
                            <li class="list-group-item " style="margin-bottom:0px; padding-bottom:0px" id="Kom-@k.Id">
                                <div class="col-md-6 rounded-pill" style="display: inline-block; background-color:gainsboro;  padding-bottom:10px; padding-left:10px; padding-top:10px">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <img src="/repozitorij/get/@k.IdKorisnikNavigation.IdSlika" alt="profpic" style="border-radius:50%; width:30px; height:30px">
                                            <span style="color:cornflowerblue">@k.IdKorisnikNavigation.Ime @k.IdKorisnikNavigation.Prezime</span>: @k.Tekst
                                        </div>
                                        <div>
                                            @if (Model.Admin || o.IdKorisnik == Model.IdKorisnik || k.IdKorisnik == Model.IdKorisnik)
                                            {
                                                <a class="hoverable" onclick="obrisi('@k.Id')"><i class="fa fa-trash-o"></i></a>
                                            }
                                        </div>

                                    </div>
                                </div>
                                <div style="padding-top:0px" class="col-md-6">
                                    <div class="d-flex justify-content-between align-items-center" style="font-size:15px">
                                        <div> @k.DatumObjave.ToString("dd.MM.yyyy. HH:mm")</div>  
                                        <div class="row">
                                            <div class="hoverable" data-id="@k.Id" data-name="komentar" data-toggle="modal" data-target="#statistika"><i class="fa fa-thumbs-o-up"></i><span id="LajkK-@k.Id" class="badge badge-secondary badge-counter">@k.LajkKomentara.Count</span></div>
                                            @if (k.LajkKomentara.Where(l => l.IdKorisnik == Model.IdKorisnik).Count() == 0)
                                            {
                                                <a style="color:blue" class="hoverable" id="BtnK-@k.Id" onclick="lajkKomentara('@k.Id', '@Model.IdKorisnik')">Sviđa mi se</a>
                                            }
                                            else
                                            {
                                                <a style="color:blue" class="hoverable font-weight-bold" id="BtnK-@k.Id" onclick="lajkKomentara('@k.Id', '@Model.IdKorisnik')">Sviđa mi se</a>
                                            }
                                        </div>
                                    </div>
                                </div>

                            </li>
                        }

                    </ul>

                    <form>
                        <input class="form-control" placeholder="Komentiraj..." id="noviKomentar-@o.Id" type="text" onkeydown="test(this, '@o.Id')">
                    </form>
                </div>

            </div>


        </div>
    </div>
}
<div class="modal fade" id="statistika" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Osobe kojima se sviđa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="loadano">
                    <span><text id="ime"></text></span>
                    <p id="id" hidden></p>
                    <div id="lajkovi"></div>
                    
                    
                </div>
                <div id="loading" style="display:none">
                    <img src="https://i.gifer.com/4V0b.gif" alt="loading" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script src="~/js/Profil.js">
            
    </script>



    <script src="~/js/jquery.magicsearch.js"></script>
    <script>
        $('#statistika').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var ime = button.text(); // Extract info from data-* attributes
                var id = button.data('id');
                var name = button.data('name')

                $("#loadano").hide();
                $("#loading").show()
                data = { Value: id+'' }
                console.log(data)
                $.ajax({
                    type: "POSt",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    url: '/Zbor/Lajkovi'+name,
                    data: JSON.stringify(data),
                    xhrFields: {
                        withCredentials: true
                    }
                }).done(function (response) {
                    var i = 0;
                    $("#lajkovi").empty();

                    for (i = 0; i < response.lista.length; i++) {
                        var newP = '<div class="row" style="padding-left:15px;padding-bottom:7px"><a href="#">' + response.lista[i].imeIPrezime + '</a></div>';
                        $("#lajkovi").append(newP);
                    }
                   
                    $("#loading").hide()

                    $("#loadano").show();
                })
                    .always(function () {
                        var g = 0;
                    });
             
            })
        </script>
    <script>
            var dataSource = [
                        @foreach(var projekt in Model.Projekti)
                        {
                            <text>{ id: '@projekt.Id', firstName: '@Html.Raw(projekt.Naziv)'},</text>
                        }
            ];
            $('#basic').magicsearch({
                    dataSource: dataSource,
                    fields: ['firstName'],
                    id: 'id',
                    format: '%firstName%',
                    multiple: true,
                    multiField: 'firstName',
                    multiStyle: {
                        space: 5,
                        width: 80
                    }
                });


    </script>
    <script>
        function posaljiObavijest() {
            $("#basicHidden").val($('#basic').attr("data-id"));
            $("#formy").submit();
        }
    </script>
}
