@model ZborApp.Models.ZborViewModels.ProjektViewModel;
@using ZborData.Model;
@{
    ViewData["Title"] = "Projekt";
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Projekt: @Model.Projekt.Naziv</h1>
    <div>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>Administracija</a>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>Napusti projekt</a>

    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="row">

            <!-- Area Chart -->
            <div class="col-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Projekt</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="font-weight-bold" asp-for="Projekt.Naziv">Naziv: </label> <text>@Model.Projekt.Naziv</text>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="font-weight-bold">Vrsta podjele: </label> <text>@Model.Projekt.IdVrstePodjeleNavigation.Podjela</text>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="font-weight-bold" asp-for="Projekt.DatumPocetka">Datum početka: </label>  <text>@Model.Projekt.DatumPocetka.ToLongDateString()</text>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="font-weight-bold" asp-for="Projekt.Opis">Opis: </label>
                                    <text>@Model.Projekt.Opis</text>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @foreach (Obavijest o in Model.Obavijesti)
        {
            <div class="row">
                <div class="col-12">
                    <div class="card shadow mb-4" style="width:100%">

                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <img src="@o.IdKorisnikNavigation.Slika" alt="profpic" style="border-radius:50%; width:30px; height:30px">
                                    @o.IdKorisnikNavigation.Ime @o.IdKorisnikNavigation.Prezime  <text class="small text-muted"> | @o.DatumObjave</text>
                                </div>
                                <div>
                                    @if (Model.Admin || o.IdKorisnik == Model.IdKorisnik)
                                    {
                                        <a style="right:0px;" asp-action="ObrisiObavijest" asp-route-id="@o.Id"><i class="fa fa-trash-o"></i></a>
                                    }
                                </div>
                            </div>
                        </div>



                        <div class="card-body">
                            <h6 class="card-title" style="font:bold">@o.Naslov</h6>
                            <p class="card-text">
                                @o.Tekst
                            </p>

                        </div>
                        <div class="card-footer">
                            <div class="col-md-12" style="padding-left:0px">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        @if (o.LajkObavijesti.Where(l => l.IdKorisnik == Model.IdKorisnik).Count() == 0)
                                        {
                                            <button id="BtnO-@o.Id" onclick="lajkObavijesti('@o.Id')" class="btn btn-outline-secondary btn-sm">@Html.Raw("Sviđa mi se")</button>
                                        }
                                        else
                                        {
                                            <button id="BtnO-@o.Id" onclick="lajkObavijesti('@o.Id')" class="btn btn-secondary btn-sm">@Html.Raw("Sviđa mi se")</button>
                                        }
                                    </div>
                                    <div class="hoverable" data-id="@o.Id" data-name="obavijest" data-toggle="modal" data-target="#statistika">
                                        <i class="fa fa-thumbs-o-up"></i><span id="LajkO-@o.Id" class="badge badge-secondary badge-counter">@o.LajkObavijesti.Count</span>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <ul id="Komentari-@o.Id" class="list-group list-group-flush">
                                @foreach (KomentarObavijesti k in o.KomentarObavijesti.OrderBy(k => k.DatumObjave))
                                {
                                    <li class="list-group-item " style="margin-bottom:0px; padding-bottom:0px" id="Kom-@k.Id">
                                        <div class="col-md-6 rounded-pill" style="display: inline-block; background-color:gainsboro;  padding-bottom:10px; padding-left:10px; padding-top:10px">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <img src="@k.IdKorisnikNavigation.Slika" alt="profpic" style="border-radius:50%; width:30px; height:30px">
                                                    <span style="color:cornflowerblue">@k.IdKorisnikNavigation.Ime @k.IdKorisnikNavigation.Prezime</span>: @k.Tekst
                                                </div>
                                                <div>
                                                    @if (Model.Admin || o.IdKorisnik == Model.IdKorisnik || k.IdKorisnik == Model.IdKorisnik)
                                                    {
                                                        <a class="hoverable" onclick="obrisi('@k.Id')"><i class="fa fa-trash-o"></i></a>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                        <div style="padding-top:0px" class="col-md-6">
                                            <div class="d-flex justify-content-between align-items-center" style="font-size:15px">
                                                <div> @k.DatumObjave.ToString("dd.MM.yyyy. hh:MM")</div>
                                                <div class="row">
                                                    <div class="hoverable" data-id="@k.Id" data-name="komentar" data-toggle="modal" data-target="#statistika"><i class="fa fa-thumbs-o-up"></i><span id="LajkK-@k.Id" class="badge badge-secondary badge-counter">@k.LajkKomentara.Count</span></div>
                                                    @if (k.LajkKomentara.Where(l => l.IdKorisnik == Model.IdKorisnik).Count() == 0)
                                                    {
                                                        <a style="color:blue" class="hoverable" id="BtnK-@k.Id" onclick="lajkKomentara('@k.Id', '@Model.IdKorisnik')">Sviđa mi se</a>
                                                    }
                                                    else
                                                    {
                                                        <a style="color:blue" class="hoverable font-weight-bold" id="BtnK-@k.Id" onclick="lajkKomentara('@k.Id', '@Model.IdKorisnik')">Sviđa mi se</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                }

                            </ul>

                            <form>
                                <input class="form-control" placeholder="Komentiraj..." id="noviKomentar-@o.Id" type="text" onkeydown="test(this, '@o.Id')">
                            </form>
                        </div>

                    </div>


                </div>
            </div>
        }

    </div>
    <div class="col-7">
        <div class="row">

            <!-- Area Chart -->
            <div class="col-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Događaji</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="card-text">
                            <h5>Aktivni događaji</h5>

                            @foreach (Dogadjaj dogadjaj in Model.AktivniDogadjaji)
                            {
                                <div class="row">
                                    <div class="col-5">
                                        <a asp-action="Dogadjaj" asp-route-id="@dogadjaj.Id">@dogadjaj.Naziv (@dogadjaj.Lokacija)</a>


                                    </div>
                                    <div class="col-3">
                                        @dogadjaj.Trajanje()
                                    </div>
                                    <div class="col-4 d-flex flex-row align-items-center justify-content-between">
                                        &nbsp;
                                        <div>
                                            @if (Model.Clan)
                                            {
                                                @if (dogadjaj.NajavaDolaska.Where(l => l.IdKorisnik == Model.IdKorisnik).Count() == 0)
                                                {
                                                    <button id="Dolazim-@dogadjaj.Id" onclick="najaviDolazak('@dogadjaj.Id')" class="btn btn-outline-primary btn-sm">Dolazim</button>
                                                }
                                                else
                                                {
                                                    <button id="Dolazim-@dogadjaj.Id" onclick="najaviDolazak('@dogadjaj.Id')" class="btn btn-primary btn-sm">Dolazim</button>
                                                }
                                            }

                                            @if (Model.Admin)
                                            {
                                                <a class="btn btn-sm btn-outline-secondary" asp-action="UrediDogadjaj" asp-route-id="@dogadjaj.Id">Uredi</a> <a class="btn btn-sm btn-outline-secondary" asp-action="ObrisiDogadjaj" asp-route-id="@dogadjaj.Id">Obriši</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            <h5>Prošli događaji</h5>

                            @foreach (Dogadjaj dogadjaj in Model.ProsliDogadjaji)
                            {
                                <div class="row">
                                    <div class="col-5">
                                        <a asp-action="Dogadjaj" asp-route-id="@dogadjaj.Id">@dogadjaj.Naziv (@dogadjaj.Lokacija)</a>
                                    </div>
                                    <div class="col-3">
                                        @dogadjaj.Trajanje()
                                    </div>
                                    <div class="col-4 d-flex flex-row align-items-center justify-content-between">
                                        &nbsp;
                                        @if (Model.Admin)
                                        {
                                            <a class="btn btn-sm btn-outline-secondary" asp-action="ObrisiDogadjaj" asp-route-id="@dogadjaj.Id">Obriši</a>
                                        }

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="statistika" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Osobe kojima se sviđa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="loadano">
                    <span><text id="ime"></text></span>
                    <p id="id" hidden></p>
                    <div id="lajkovi"></div>


                </div>
                <div id="loading" style="display:none">
                    <img src="https://i.gifer.com/4V0b.gif" alt="loading" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="../../Scripts/jquery-1.3.2.min.js" language="javascript" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datePicker')
                .datepicker({
                    format: 'dd/mm/yyyy',
                    autoClose: true,
                    minView: 2,

                })
                .on('changeDate', function (e) {
                    // Revalidate the date field

                    $(this).datepicker('hide');

                    //$('#eventForm').formValidation('revalidateField', 'date');
                })
                .datepicker('setStartDate', 'new Date');



        });
        $('#statistika').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var ime = button.text(); // Extract info from data-* attributes
            var id = button.data('id');
            var name = button.data('name')

            $("#loadano").hide();
            $("#loading").show()
            data = { Value: id + '' }
            console.log(data)
            $.ajax({
                type: "POSt",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                url: '/Zbor/Lajkovi' + name,
                data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
            }).done(function (response) {
                var i = 0;
                $("#lajkovi").empty();

                for (i = 0; i < response.lista.length; i++) {
                    var newP = '<div class="row" style="padding-left:15px;padding-bottom:7px"><a href="#">' + response.lista[i].imeIPrezime + '</a></div>';
                    $("#lajkovi").append(newP);
                }

                $("#loading").hide()

                $("#loadano").show();
            })
                .always(function () {
                    var g = 0;
                });

        })
    </script>
    <script>
        var dates = $("input[id$='dpFrom'], input[id$='dpTo']");
        $('#clearDates').on('click', function () {
            document.getElementById("proba").value = "";
        });

        /*dates.attr('value', '');
        dates.each(function () {
            $.datepicker._clearDate(this);
        });
});*/
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <script src="~/js/Profil.js">

    </script>
    <script>
        $('.selectpicker').selectpicker({
            //style: 'btn-info',
            size: 10
        });
    </script>

    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var imeProjekta = button.data('ime') // Extract info from data-* attributes
            var idProjekta = button.data('id')

            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('#imeProjekta').text(imeProjekta)
            modal.find('#idProjekta').text(idProjekta)
        })
    </script>
    <script>
        function prijavaAjax() {
            modal = $('#exampleModal')
            data = { Id: modal.find('#idProjekta').text() + '', Naziv: modal.find('#imeProjekta').text() + '', Poruka: modal.find('#poruka').val() + '' }
            console.log(data)
             $.ajax({
                 type: "POST",
                 dataType: "json",
                contentType: "application/json;charset=utf-8",
                 url: '@Url.Action("PrijavaZaProjekt", "Zbor")',
                 data: JSON.stringify(data),
                xhrFields: {
                    withCredentials: true
                }
             });
            modal.modal('toggle')
            id = modal.find('#idProjekta').text() + ''
            testB = '#B-' + id
            testC = '#T-' + id
            $(testB).hide();
            $(testC).show("slow")
        }


    </script>
  
 
    <script>
    function najaviDolazak(id) {
                gumbObavijest = '#Dolazim-' + id;
                data = { IdCilj: id + '', IdKorisnik: '@Model.IdKorisnik' };
                if ($(gumbObavijest).hasClass("btn-outline-primary")) {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        url: '@Url.Action("NajavaDolaska", "Zbor")',
                        data: JSON.stringify(data),
                        xhrFields: {
                            withCredentials: true
                        }
                    });

                    $(gumbObavijest).removeClass("btn-outline-primary");
                    $(gumbObavijest).addClass("btn-primary");
                }
                else {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        url: '@Url.Action("ObrisiNajavuDolaska", "Zbor")',
                        data: JSON.stringify(data),
                        xhrFields: {
                            withCredentials: true
                        }
                    });

                    $(gumbObavijest).removeClass("btn-primary");
                    $(gumbObavijest).addClass("btn-outline-primary");
                }
        }
    </script>
}
