@model ZborDataStandard.ViewModels.RepozitorijViewModels.RepozitorijZborViewModel
@using ZborDataStandard.Model;
@{
    ViewData["Title"] = "Repozitorij";
}
    <head>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    </head>
    <body>
        @if (Model.Clan)
        {
        <div class="container">
            <form enctype="multipart/form-data" method="post" asp-action="UploadZbor">
                <label class="btn btn-outline-secondary hoverable" for="my-file-selector">
                    <input id="my-file-selector" type="file" asp-for="FormFiles" multiple style="display:none"
                           onchange="$('#upload-file-info').html(this.files[0].name)">
                    Odaberi
                </label>
                <span class='label label-info' id="upload-file-info">Učitajte datoteke</span>

                <input style="display:none" asp-for="IdZbor" value="@Model.IdZbor"/>
                <button class="btn btn-outline-secondary" type="submit">Učitaj</button>
            </form>
        </div>
        }


        <div class="container">
            <table id="datoteke" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Datum postavljanja</th>
                        <th>Korisnik</th>
                        @if (Model.Promjena)
                        {
                            <th>Vidljivost</th>
                        }
                        <th>Akcije</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var datoteka in Model.Datoteke)
                    {
                    <tr>

                        <td><a asp-action="GetZbor" asp-route-id="@datoteka.Id"><img alt="fileicon" src="@datoteka.GetSlika()" style="width:20px; height:40px" /><span class="name" data-id="@datoteka.Id" id="Naziv-@datoteka.Id">@datoteka.GetNaziv()</span>.@datoteka.GetEkstenzija()</a></td>
                        <td>@datoteka.DatumPostavljanja.ToString("yyyy.MM.dd. HH:mm")</td>
                        <td>@datoteka.IdKorisnikNavigation.ImeIPrezime()</td>
                        @if (Model.Promjena)
                        {
                            <td>
                                @if (datoteka.Privatno)
                                {
                                    <div id="Privatno-@datoteka.Id" style="float:right">
                                        <span>Privatno</span> <button class="btn btn-sm btn-outline-primary" onclick="objavi('@datoteka.Id')">Objavi</button>
                                    </div>
                                    <div id="Javno-@datoteka.Id" style="display:none; float:right">
                                        <span>Javno</span> <button class="btn btn-sm btn-outline-secondary" onclick="privatiziraj('@datoteka.Id')">Sakrij</button>
                                    </div>
                                }
                                else
                                {
                                    <div id="Privatno-@datoteka.Id" style="display:none; float:right">
                                        <span>Privatno</span> <button class="btn btn-sm btn-outline-primary" onclick="objavi('@datoteka.Id')">Objavi</button>
                                    </div>
                                    <div id="Javno-@datoteka.Id" style="float:right">
                                        <span>Javno</span> <button class="btn btn-sm btn-outline-secondary" onclick="privatiziraj('@datoteka.Id')">Sakrij</button>
                                    </div>
                                }
                            </td>
                            <td>
                                <div class="row" style="float:right">
                                    <button class="btn btn-sm btn-outline-secondary" data-id="@datoteka.Id" data-toggle="modal" data-target="#dialog"><i class="fa fa-link"></i>Podijeli</button>
                                    <div style="padding-left:7px">
                                        <button class="btn btn-sm btn-outline-secondary edit" data-id="@datoteka.Id"><i class="fa fa-pencil-square-o"></i>Preimenuj</button>
                                    </div>
                                    <form style="padding-left:7px" asp-action="DeleteZbor"><input asp-for="IdTrazeni" style="display:none" value="@datoteka.Id" /><button class="btn btn-sm btn-outline-danger" type="submit"><i class="fa fa-trash-o"></i>Obriši</button></form>
                                </div>
                            </td>
                        }
                        else
                        {
                    <td>
                        <div class="row" style="float:right">
                            <button class="btn btn-sm btn-outline-secondary" data-id="@datoteka.Id" data-toggle="modal" data-target="#dialog"><i class="fa fa-link"></i>Podijeli</button>

                        </div>
                    </td>
                        }



                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Osobe kojima se sviđa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <p id="link"></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/RepZbor.js"></script>
    <script>
        $(document).ready(function() {
            $('#datoteke').DataTable({
                "order": [[ 1, "desc" ]]
            });
        });
        bindEdit();
    </script>
    <script>
        $('#dialog').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id');
            $("#link").html("/Repozitorij/GetZbor/" + id);

        })
    </script>
}